./deps/libevent
./deps/googletest
./deps/jsoncpp
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
test/case/miniob
test/case/result_tmp/
GRTAGS
GPATH
GTAGS
cmake-build-debug-gcc-2/
cmake-build-debug-gcc/
cmake-build-debug-clang/
.cache/
#*#
